* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
  max-width: 800px;
  margin: 0 auto;
}

header {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 100%;
  height: auto;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 10px;
}

nav a {
  display: block;
  padding: 10px;
  color: #444;
  font-size: 1.2rem;
  text-decoration: none;
}

nav a:hover {
  background-color: #444444;
  color: #fff;
}

.intro {
  background-color: #444444;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.intro h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 10px;
}

.intro p {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.tools {
  padding: 20px;
}

.tools h2 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 20px;
}

.tools ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tools li {
  margin-right: 10px;
}

.tools a {
  display: block;
  background-color: #0077c2;
  color: #fff;
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  width: 200px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.tools a:hover {
  background-color: #11354c;
}

footer {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
}