@charset "UTF-8";
/*========= 構成 ===============*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.container {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS Mincho", "Meiryo", serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  background-color: #fff;
  color: #444;
}

.header-menu nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}
.header-menu nav button {
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 5px;
  font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS Mincho", "Meiryo", serif;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: normal;
  background-color: #fff;
  color: #444;
}
@media screen and (min-width: 1200px) {
  .header-menu nav button {
    display: none;
  }
}
.header-menu nav button:hover {
  cursor: pointer;
  background-color: #444;
  color: #fff;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

/*========= main ===============*/
.title-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
}

#life {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  justify-content: start;
  flex-wrap: wrap;
  border: 2px solid #8bc34a;
  background-color: #f3f9ed;
}
#life h2 {
  width: 100%;
  margin: 2px auto 0;
  font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS Mincho", "Meiryo", serif;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: normal;
  color: #71a436;
}

#develop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  justify-content: start;
  flex-wrap: wrap;
  border: 2px solid #7a6a89;
  background-color: #f2f0f3;
}
#develop h2 {
  width: 100%;
  margin: 2px auto 0;
  font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS Mincho", "Meiryo", serif;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: normal;
  color: #60546c;
}

/*========= カード ===============*/
a.app-card-link {
  text-decoration: none;
}

a.app-card {
  margin: 2px 4px 12px 4px;
  padding: 5px;
  width: 48%;
  border: none;
  border-radius: 10px;
  display: grid;
  grid-template: "img title" 30px "description description" auto/auto 1fr;
  gap: 10px;
  text-align: left;
  background-color: #fff;
  color: #444;
}
@media screen and (max-width: 1200px) {
  a.app-card {
    width: 100%;
  }
}
a.app-card:hover {
  background-color: #444;
  color: #fff;
  /*
  この設定が反映される様に、
  カード内部の色は個別に指定しないでください。
  */
}

/*========= app-card個別設定 ===============*/
.app-title {
  grid-area: title;
  margin: auto 4px;
  font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS Mincho", "Meiryo", serif;
  font-size: 2rem;
  line-height: 1.8;
  letter-spacing: normal;
}

.app-img {
  grid-area: img;
}

.app-description {
  grid-area: description;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: normal;
}

/*========= ロゴ ===============*/
.logo-1-3-img {
  height: 100px;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px 100px;
  background-image: url(https://benrineko.com/logo_100_300.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .logo-1-3-img {
    background-image: url(https://benrineko.com/logo_100_300@2x.png);
  }
}

/*========= アイコン ===============*/
.couponotoku-img {
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: #fff;
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px 48px;
  background-image: url(https://benrineko.com/couponotoku/favicon.ico);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .couponotoku-img {
    background-image: url(https://benrineko.com/couponotoku/apple-touch-icon.png);
  }
}

.nengouhenkan-img {
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: #fff;
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px 48px;
  background-image: url(https://benrineko.com/nengouhenkan/favicon.ico);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .nengouhenkan-img {
    background-image: url(https://benrineko.com/nengouhenkan/apple-touch-icon.png);
  }
}

.hashExtractor-img {
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: #fff;
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px 48px;
  background-image: url(https://benrineko.com/hashExtractor/favicon.ico);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .hashExtractor-img {
    background-image: url(https://benrineko.com/hashExtractor/apple-touch-icon.png);
  }
}

.dollarExtractor-img {
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: #fff;
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px 48px;
  background-image: url(https://benrineko.com/dollarExtractor/favicon.ico);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .dollarExtractor-img {
    background-image: url(https://benrineko.com/dollarExtractor/apple-touch-icon.png);
  }
}

.fontsizeConverter-img {
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: #fff;
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px 48px;
  background-image: url(https://benrineko.com/fontsizeConverter/favicon.ico);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .fontsizeConverter-img {
    background-image: url(https://benrineko.com/fontsizeConverter/apple-touch-icon.png);
  }
}

.natureSounds-img {
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: #fff;
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px 48px;
  background-image: url(https://benrineko.com/natureSounds/favicon.ico);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .natureSounds-img {
    background-image: url(https://benrineko.com/natureSounds/apple-touch-icon.png);
  }
}