@charset "UTF-8";
/*========= 全体 ===============*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Helvetica Neue", sans-serif;
}

.container {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  color: #333;
}

/*========= 中身 ===============*/
.title-section {
  padding: 10px;
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
}

.main-section {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
}

.footer-section {
  padding: 10px;
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
}
.footer-section a {
  color: #333;
  /*
  コピーライトの表示がメインなので
  リンクであっても標準色で上書きしました。
  */
}

/*========= 個別 ===============*/
h1 {
  font-size: 25px;
  line-height: 1.8;
}

h2 {
  font-size: 21px;
  line-height: 1.8;
  margin-bottom: 0;
}

p {
  font-size: 16px;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: #007bff;
}