@charset "UTF-8";
/* used by benri-template ver.5 */
/*========= 構成 ===============*/
body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS Mincho", "Meiryo", serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: normal;
}
body button,
body a,
body [role=button],
body [role=link],
body [role=tab],
body [role=menuitem],
body [contenteditable=true],
body [draggable=true] {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  align-items: start;
  font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS Mincho", "Meiryo", serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: normal;
  background-color: #fff;
  color: #444;
}

.title-section h1 {
  margin-bottom: 20px;
}
.title-section .decorated {
  font-weight: bold;
}
.title-section .decorated.border {
  color: #b71c1c;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
.title-section .decorated.ampersand {
  font-size: 1.8rem;
  color: #b71c1c;
}
.title-section .decorated.copy-paste {
  font-size: 1.8rem;
  text-decoration: underline;
  text-decoration-color: #0d47a1;
  text-decoration-thickness: 4px;
  text-underline-offset: 4px;
}
.title-section .decorated.extract {
  padding: 0 4px;
  color: #fff;
  background-color: #0d47a1;
}

.ad-section p {
  margin: 0;
  padding: 0;
}

.main-section {
  min-height: 400px;
}

.footer {
  /*このページは左詰なので上書きをします。*/
  justify-content: start !important;
}

/*========= main-section ===============*/
.input-contents {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  justify-content: start;
  align-items: baseline;
}
.input-contents input {
  margin-bottom: 10px;
  padding: 5px;
  font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS Mincho", "Meiryo", serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: normal;
  border: 1px solid #b71c1c;
}
.input-contents #extractButton {
  padding: 10px;
  border: none;
  border-radius: 0px;
  color: #fff;
  background-color: #b71c1c;
}
.input-contents #message {
  color: #b71c1c;
  height: 30px;
}

.output-contents {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}
.output-contents button {
  padding: 10px;
  border: none;
  border-radius: 2px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: normal;
  color: #fff;
}
.output-contents button.constantButton {
  background-color: #0d47a1;
}
.output-contents button.constantButton:hover, .output-contents button.constantButton:focus {
  background-color: #2674ee;
}
.output-contents button.constantButton:active {
  background-color: #b71c1c;
}
.output-contents button.commentButton {
  border: none;
  border-radius: 0px;
  background-color: #b71c1c;
  cursor: default;
}