/* benri-template v23.0: add row-page-gide, remove coment-out */
/*=========  ===============*/
/* uses benri-template v23.0 */
/*========= .title-section ===============*/
.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.title-section h1 {
  margin-bottom: 20px;
}
.title-section .decorated {
  font-weight: bold;
}
.title-section .decorated.border {
  color: #b71c1c;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
.title-section .decorated.ampersand {
  font-size: 1.8rem;
  color: #b71c1c;
}
.title-section .decorated.copy-paste {
  font-size: 1.8rem;
  text-decoration: underline;
  text-decoration-color: #0d47a1;
  text-decoration-thickness: 4px;
  text-underline-offset: 4px;
}
.title-section .decorated.extract {
  padding: 0 4px;
  background-color: #0d47a1;
  color: #fff;
}

/*========= main-section ===============*/
.main-section {
  min-height: 400px;
}

.input-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  justify-content: start;
  align-items: baseline;
}
.input-contents input {
  margin-bottom: 10px;
  padding: 5px;
  font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS Mincho", "Meiryo", serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: normal;
  border: 1px solid #b71c1c;
}
.input-contents button {
  padding: 10px;
  border: none;
  border-radius: 0px;
  font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS Mincho", "Meiryo", serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: normal;
  color: #fff;
}
.input-contents button#extractButton {
  background-color: #b71c1c;
}
.input-contents button#load-and-extractButton {
  background-color: #0d47a1;
}
.input-contents #message {
  color: #b71c1c;
  height: 30px;
}

.output-contents {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}
.output-contents button {
  padding: 10px;
  border: none;
  border-radius: 2px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: normal;
  color: #fff;
}
.output-contents button.constantButton {
  background-color: #0d47a1;
}
.output-contents button.constantButton:hover, .output-contents button.constantButton:focus {
  background-color: #2674ee;
}
.output-contents button.constantButton:active {
  background-color: #b71c1c;
}
.output-contents button.commentButton {
  border: none;
  border-radius: 0px;
  background-color: #b71c1c;
  cursor: default;
}