@charset "UTF-8";
/* uses benri-template ver.5.2 */
/*========= 構成 ===============*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS Mincho", "Meiryo", serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: normal;
}
body button,
body a,
body [role=button],
body [role=link],
body [role=tab],
body [role=menuitem],
body [contenteditable=true],
body [draggable=true] {
  cursor: pointer;
}

.container {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: px;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .container {
    display: grid;
    grid-template: "main header" 50px "main ad1" auto "main ad2" auto "main footer" 1fr/1fr auto;
    gap: 10px;
  }
}
.container .header {
  grid-area: header;
}
.container .ad1-space {
  grid-area: ad1;
  margin: 0;
  padding: 0;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
}
.container .ad1-space else {
  width: 300px;
}
.container .ad1-space p {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}
.container .main-space {
  grid-area: main;
}
.container .ad2-space {
  grid-area: ad2;
  margin: 0;
  padding: 0;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
}
.container .ad2-space else {
  width: 300px;
}
.container .ad2-space p {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}
.container .footer {
  grid-area: footer;
}

/*========= main-space ===============*/
.main-space {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  text-align: center;
}
.main-space p {
  text-align-last: left;
}

/*========= .input-section ===============*/
.input-section {
  min-height: 100px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
  align-items: start;
}
.input-section .input-before-contents {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  justify-content: start;
  flex-wrap: wrap;
  border: none;
  border-radius: 10px;
  background-color: #b4cff9;
  font-weight: bold;
}
.input-section .input-before-contents select {
  display: none;
}
.input-section .input-before-contents select.loaded {
  display: inline;
  border: none;
  border-radius: 2px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
  background-color: #444;
  color: #fff;
}
.input-section .input-before-contents select.loaded:hover, .input-section .input-before-contents select.loaded:active, .input-section .input-before-contents select.loaded:focus {
  background-color: #0d47a1;
}
.input-section .input-before-contents input {
  display: none;
}
.input-section .input-before-contents input.loaded {
  display: inline;
  width: 50px;
  border: none;
  border-radius: 2px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
  background-color: #444;
  color: #fff;
}
.input-section .input-before-contents input.loaded:hover, .input-section .input-before-contents input.loaded:active, .input-section .input-before-contents input.loaded:focus {
  background-color: #0d47a1;
}
.input-section .input-after-contents {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  justify-content: start;
  flex-wrap: wrap;
  border: none;
  border-radius: 10px;
  background-color: #f9d9d9;
  font-weight: bold;
}
.input-section .input-after-contents select {
  display: none;
}
.input-section .input-after-contents select.loaded {
  display: inline;
  border: none;
  border-radius: 2px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
  background-color: #444;
  color: #fff;
}
.input-section .input-after-contents select.loaded:hover, .input-section .input-after-contents select.loaded:active, .input-section .input-after-contents select.loaded:focus {
  background-color: #b71c1c;
}
.input-section .input-after-contents input {
  display: none;
}
.input-section .input-after-contents input.loaded {
  display: inline;
  width: 50px;
  border: none;
  border-radius: 2px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
  background-color: #444;
  color: #fff;
}
.input-section .input-after-contents input.loaded:hover, .input-section .input-after-contents input.loaded:active, .input-section .input-after-contents input.loaded:focus {
  background-color: #b71c1c;
}
.input-section .calculate-contents {
  margin: 25px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
}
.input-section .calculate-contents #calculate-button {
  display: none;
}
.input-section .calculate-contents #calculate-button.loaded {
  display: block;
  padding: 10px 0;
  width: 100%;
  border: none;
  border-radius: 20px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
  background-color: #444;
  color: #fff;
}
.input-section .calculate-contents #calculate-button.loaded:hover, .input-section .calculate-contents #calculate-button.loaded:active, .input-section .calculate-contents #calculate-button.loaded:focus {
  background-color: #b71c1c;
}
.input-section .calculate-contents #calculate-button.loaded::before {
  display: inline-block;
  content: "▲";
}
.input-section .calculate-contents #calculate-button.loaded::after {
  display: inline-block;
  content: "▲";
  content: "▼";
}

/*========= .output-section ===============*/
.output-section {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8;
  letter-spacing: normal;
  font-weight: bold;
  text-align: center;
}
.output-section .output-before-contents {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS Mincho", "Meiryo", serif;
  font-size: 1.8rem;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.output-section .output-before-contents else {
  background-color: #fff;
}
.output-section .output-before-contents.calced {
  color: #0d47a1;
  background-color: #b4cff9;
}
.output-section .output-before-contents.calced else {
  background-color: #0d47a1;
}
.output-section .output-after-contents {
  flex: 2;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS Mincho", "Meiryo", serif;
  font-size: 1.8rem;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.output-section .output-after-contents else {
  background-color: #fff;
}
.output-section .output-after-contents.calced {
  color: #b71c1c;
  background-color: #f9d9d9;
}
.output-section .output-after-contents.calced else {
  background-color: #b71c1c;
}

.note {
  color: #b71c1c;
}