@charset "UTF-8";
/* benri-template v21.0: add absolute-switch-side */
/*=========  ===============*/
/* uses benri-template v21.0 */
/*========= main ===============*/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  text-align: center;
}
.main p {
  text-align-last: left;
}

/*========= .input-section ===============*/
.input-section {
  min-height: 100px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
  align-items: start;
}
.input-section .input-before-contents {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  justify-content: start;
  flex-wrap: wrap;
  border: none;
  border-radius: 10px;
  background-color: #b4cff9;
  font-weight: bold;
}
.input-section .input-before-contents select {
  display: none;
}
.input-section .input-before-contents select.loaded {
  display: inline;
  border: none;
  border-radius: 2px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
  background-color: #444;
  color: #fff;
}
.input-section .input-before-contents select.loaded:hover, .input-section .input-before-contents select.loaded:active, .input-section .input-before-contents select.loaded:focus {
  background-color: #0d47a1;
}
.input-section .input-before-contents input {
  display: none;
}
.input-section .input-before-contents input.loaded {
  display: inline;
  width: 50px;
  border: none;
  border-radius: 2px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
  background-color: #444;
  color: #fff;
}
.input-section .input-before-contents input.loaded:hover, .input-section .input-before-contents input.loaded:active, .input-section .input-before-contents input.loaded:focus {
  background-color: #0d47a1;
}
.input-section .input-after-contents {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  justify-content: start;
  flex-wrap: wrap;
  border: none;
  border-radius: 10px;
  background-color: #f9d9d9;
  font-weight: bold;
}
.input-section .input-after-contents select {
  display: none;
}
.input-section .input-after-contents select.loaded {
  display: inline;
  border: none;
  border-radius: 2px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
  background-color: #444;
  color: #fff;
}
.input-section .input-after-contents select.loaded:hover, .input-section .input-after-contents select.loaded:active, .input-section .input-after-contents select.loaded:focus {
  background-color: #b71c1c;
}
.input-section .input-after-contents input {
  display: none;
}
.input-section .input-after-contents input.loaded {
  display: inline;
  width: 50px;
  border: none;
  border-radius: 2px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
  background-color: #444;
  color: #fff;
}
.input-section .input-after-contents input.loaded:hover, .input-section .input-after-contents input.loaded:active, .input-section .input-after-contents input.loaded:focus {
  background-color: #b71c1c;
}
.input-section .calculate-contents {
  margin: 25px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
}
.input-section .calculate-contents #calculate-button {
  display: none;
  padding: 10px 0;
  width: 100%;
  border: none;
  border-radius: 20px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
  background-color: #444;
  color: #fff;
}
.input-section .calculate-contents #calculate-button:hover, .input-section .calculate-contents #calculate-button:active, .input-section .calculate-contents #calculate-button:focus {
  background-color: #b71c1c;
}
.input-section .calculate-contents #calculate-button::before {
  display: inline-block;
  content: "▲";
}
.input-section .calculate-contents #calculate-button::after {
  display: inline-block;
  content: "▲";
  content: "▼";
}
.input-section .calculate-contents #calculate-button.loaded {
  display: block;
}

/*========= .output-section ===============*/
.output-section {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8;
  letter-spacing: normal;
  font-weight: bold;
  text-align: center;
}
.output-section .output-before-contents {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS Mincho", "Meiryo", serif;
  font-size: 1.8rem;
  line-height: normal;
  letter-spacing: normal;
  background-color: #fff;
  color: #fff;
}
.output-section .output-before-contents.calced {
  background-color: #b4cff9;
  color: #0d47a1;
}
.output-section .output-after-contents {
  flex: 2;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS Mincho", "Meiryo", serif;
  font-size: 1.8rem;
  line-height: normal;
  letter-spacing: normal;
  background-color: #fff;
  color: #fff;
}
.output-section .output-after-contents.calced {
  background-color: #f9d9d9;
  color: #b71c1c;
}

.note {
  color: #b71c1c;
}