@charset "UTF-8";
/*========= header ===============*/
.header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #333;
  padding: 5px 0;
}

/*
  他にaタグを追加する可能性があるので
  必ずlogo-imgクラスを使う
*/
.logo-img {
  margin: 0 5px;
  width: 132px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 132px 44px;
  background-image: url("https://benrineko.com/logo_100_300.png");
  /*「インデックスに戻る」を示唆*/
  border-radius: 40px 10px 10px 40px;
  border: 2px solid #333;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .logo-img {
    background-image: url("https://benrineko.com/logo_100_300@2x.png");
  }
}

.header-menu {
  flex-grow: 2;
}

/*========= footer ===============*/
.footer {
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #333;
}
.footer a {
  text-decoration: none;
  font-size: 11pt;
  color: #333;
}

/*========= （調整のHTML用）===============*/
/*コンパイル時はコメントアウトしてください*/