@charset "UTF-8";
/* benri-template v21.0: add absolute-switch-side */
/*=========  ===============*/
/* uses benri-template v21.0 */
/*========= .main-space ===============*/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.title-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
  text-align: center;
  text-align-last: left;
}

.input-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  justify-content: start;
  flex-wrap: wrap;
}
.input-contents .select-label {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
  color: #b71c1c;
}
.input-contents .select-label::after {
  display: inline-block;
  content: "▲";
  content: "▼";
  transform: rotate(270deg);
  padding-top: 0.08rem;
}
.input-contents #select {
  padding-left: 11px;
  height: 50px;
  width: auto;
  border: none;
  border-radius: 4px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  background-color: #b71c1c;
  color: #fff;
}
.input-contents #select:hover, .input-contents #select:active, .input-contents #select:focus {
  background-color: #e13e3e;
}
.input-contents input[type=text] {
  flex-grow: 2;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
}
.input-contents button {
  padding-left: 11px;
  padding-right: 11px;
  height: 50px;
  width: auto;
  border: none;
  border-radius: 2px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
  background-color: #0d47a1;
  color: #fff;
}
.input-contents button:hover, .input-contents button:active, .input-contents button:focus {
  background-color: #1366e8;
}

.output-contents #result-announce {
  color: #0d47a1;
}
.output-contents #result-seireki, .output-contents #result-reiwa, .output-contents #result-heisei, .output-contents #result-showa {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
}