@charset "UTF-8";
/* used by benri-template ver.5 */
/*========= 構成 ===============*/
body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  font-family: "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS Mincho", "Meiryo", serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: normal;
}
body button,
body a,
body [role=button],
body [role=link],
body [role=tab],
body [role=menuitem],
body [contenteditable=true],
body [draggable=true] {
  cursor: pointer;
}

.container {
  margin: 0;
  padding: 0;
  width: 1200px;
  display: grid;
  grid-template: "header header header" auto "ad1 main ad2" 1fr "footer footer footer" auto/auto 500px auto;
  gap: 10px;
}
@media (max-width: 1200px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-direction: column;
  }
}

.header {
  grid-area: header;
}

.ad1-space {
  grid-area: ad1;
  margin: 0;
  padding: 0;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
}
.ad1-space else {
  width: 300px;
}
.ad1-space p {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

.main-space {
  grid-area: main;
  max-width: 500px;
}

.ad2-space {
  grid-area: ad2;
  margin: 0;
  padding: 0;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
}
.ad2-space else {
  width: 300px;
}
.ad2-space p {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

.footer {
  grid-area: footer;
}

/*========= .main-space ===============*/
.main-space {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.title-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
  text-align: center;
  text-align-last: left;
}

.input-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  justify-content: start;
  flex-wrap: wrap;
}
.input-contents #select {
  padding-left: 11px;
  height: 50px;
  width: auto;
  border: none;
  border-radius: 4px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  background-color: #b71c1c;
}
.input-contents #select else {
  width: 50px;
}
.input-contents #select:hover, .input-contents #select:active, .input-contents #select:focus {
  background-color: #e13e3e;
}
.input-contents input[type=text] {
  flex-grow: 2;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
}
.input-contents button {
  padding-left: 11px;
  padding-right: 11px;
  height: 50px;
  width: auto;
  border: none;
  border-radius: 2px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
  color: #fff;
  background-color: #0d47a1;
}
.input-contents button else {
  width: 50px;
}
.input-contents button:hover, .input-contents button:active, .input-contents button:focus {
  background-color: #1366e8;
}

.output-contents #result-announce {
  color: #0d47a1;
}
.output-contents #result-seireki, .output-contents #result-reiwa, .output-contents #result-heisei, .output-contents #result-showa {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "MS Gothic", "Meiryo UI", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: normal;
}